.xans-member-join .required { display:block; margin: -13px 0 0; line-height:1; text-align:right; color:var(--font-color-base); }
.xans-member-join .icoRequired { vertical-align:middle; margin-top:-3.5px; }

.xans-member-join .ec-base-table .error { color:var(--font-color-warn); }

.xans-member-join .verify { position:relative; display:inline-block; vertical-align:top; }
.xans-member-join .verify .time { position:absolute; top:10px; right:15px; color:var(--font-color-warn); }
.xans-member-join .verify #verify_sms_number { padding:2px 50px 2px 4px; box-sizing:border-box; }
.xans-member-join .verify #verify_sms_number:disabled { padding-right:4px; }

.xans-member-join .ec-base-table.typeWrite table .interest { margin-top:10px; }
.xans-member-join .ec-base-table.typeWrite table .interest label { line-height:26px; }

.xans-member-join .eTooltip { position:relative; display:inline-block; }
.xans-member-join .ec-base-tooltip.typeUpper { left:20px !important; bottom:28px !important; width:260px; }
.xans-member-join .ec-base-tooltip.typeUpper .edge { left:20%; }
.xans-member-join .ec-base-tooltip.typeUpper:before,
.xans-member-join .ec-base-tooltip.typeUpper:after { left:55px; }

#realNameAuth p span { display:inline-block; width:80px; }

.xans-member-join #btn_verify_mobile_confirm { margin-left:15px; }


@media all and (max-width:1024px) {
    .xans-member-join input,
    .xans-member-join select,
    .xans-member-join .eTooltip,
    .xans-member-join #nameContents,
    .xans-member-join #authWrap { width:100%; }
}


@media all and (min-width:1025px) {
    .xans-member-join select,
    .xans-member-join input[type="text"],
    .xans-member-join input[type="password"] { width:290px; }
    
    .xans-member-join #hint,
    .xans-member-join #hint_answer { width:450px; }
    
    .xans-member-join #mobile1,
    .xans-member-join #mobile2,
    .xans-member-join #mobile3,
    .xans-member-join #phone1,
    .xans-member-join #phone2, 
    .xans-member-join #phone3,
    .xans-member-join #birth_year,
    .xans-member-join #marry_year,
    .xans-member-join #partner_year,
    .xans-member-join #birth_month,
    .xans-member-join #marry_month,
    .xans-member-join #partner_month,
    .xans-member-join #birth_day,
    .xans-member-join #marry_day,
    .xans-member-join #partner_day { width:86px; }
}


