.login .id,
.login .password { overflow:hidden; display:block; width:100%; margin:0; }
.login .id span,
.login .password span { height:32px; line-height:32px; padding:0 0 0 10px; }
.login input[type=text],
.login input[type=password] { width:100%; height:50px; line-height:48px; padding:0 20px; margin:0 0 10px; }
.login__security { margin:10px 0 30px; font-size:13px; }
.login__security .secret { position:relative; display:inline-block; height:17px; line-height:17px; padding:0 0 0 27px; background:url("//img.echosting.cafe24.com/skin/skin/member/ico_access.svg") no-repeat 0 0; }
.login__security .secret img { position:absolute; top:0; left:0; opacity:.00001; width:100%; height:100%; z-index:10; }
.login__util { overflow:hidden;  margin:30px 0 0; text-align:center; }
.login__util li { display:inline-block; vertical-align:top; }
.login__util li:not(:last-child):after { content:""; display:inline-block; width:1px; height:17px; margin:0 8px 0 12px; vertical-align:top; background:#e0e0e0; }
.login__util li a { color:#2e2e2e; font-size:13px; text-decoration:none; }
.login__link { position:relative; margin:25px 9px 0 0; padding:25px 0 0 0; color:#757575; border-top:1px solid #e9e9e9; }
.login__link a { position:absolute; top:25px; right:0; }
.login__button { margin:20px 0 0; }
.login__button [class^="btn"] + [class^="btn"] { margin:10px 0 0; }
.login__sns { margin:30px 0 0; }
.login__sns [class*="btn"] { display:block; border-radius:2px; font-size:15px; text-align:center; height:50px; line-height:50px; font-weight:bold; text-decoration:none; box-sizing:border-box; background-size:20px 0; }
.login__sns [class*="btn"] + [class*="btn"] { margin:10px 0 0; }


@media all and (min-width:1025px) {
    .login { width:421px; margin:0 auto; }
}