<!DOCTYPE html>
<html lang="ko">
	<html xmlns:th="http://www.thymeleaf.org"><head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="//optimizer.poxo.com/css/common/d76f888f807ee484c29e14cea71f57488abca56d.d69323deaf6eae17cc58c2908dd3f0df/1726827827" crossorigin="anonymous" /><link rel="stylesheet" type="text/css" href="//optimizer.poxo.com/css/tjdus0817/6701c820b6029e15c17c91d986538750c84cb0ba.d69323deaf6eae17cc58c2908dd3f0df/1726819406" crossorigin="anonymous" />
<style type="text/css">

</style>

<title>상품</title></head><body class="theme01" data-ez-theme="theme01">
	
	<img src="images/header1.jpg">
	
<header id="header" class="layout1" data-ez-layout="layout1" data-ez="contents-1kbhajm-1"><ez-prop data-version="1.0.0" type="layout"><ez-var data-prop="layout" data-namespace="ez.layout.header.layout" data-type="array"><ez-item data-id="layout1" data-name="2단 중앙형 (아이콘 하단)"></ez-item></ez-var></ez-prop><div class="inner">
		<div class="toparea display_pc_only">
			<div class="toparea_shoppinginfo">
				                <div data-ez-group="shopping-info" data-ez-role="list">
				
                </div>
			</div>

			<div class="toparea_state" data-ez-group="top-util-menu" data-ez-role="list">
				<a data-ez-item="logout" href="index" class="xans-element- xans-layout xans-layout-statelogon ">로그아웃</a>
				<a data-ez-item="order" href="cart" style>장바구니</a>
				<a data-ez-item="mypage" href="mypage" class="xans-element- xans-layout xans-layout-statelogon ">마이페이지</a>
				<a data-ez-item="recent" href="wishlist">위시리스트</a>
				<div class="toparea_state_board">
				<a data-ez-item="board" href="notice">COMMUNITY</a>
					<ul class="xans-element- xans-layout xans-layout-boardinfo"><li class="xans-record-"><a href="/skin-skin2/board/공지사항/1/">공지사항</a></li>

</ul>
</div>
			</div>
		</div>

		<div class="top_nav_box" id="top_nav_box">
			<div class="xans-element- xans-layout xans-layout-logotop top_logo ">
				<a href="index"><img src="images/LOGO.jpg" alt="Custy"></a>
</div>

			<div class="top_nav"><a href="javascript:;" class="eNavFold"><i aria-hidden="true" class="icon icoNav"></i></a></div>

			<div data-ez-module="menu-main/1" data-ez-mode="manual">
        <div class="xans-element- xans-layout xans-layout-category top_category">
			<ul><li><a href="best">BEST</a></li>
				<li><a href="new">NEW</a></li>
				<li><a href="outer">OUTER</a></li>
				<li><a href="top">TOP</a></li>
				<li><a href="pants">PANTS</a></li>
				<li><a href="showroom">SHOW</a></li></ul></div>
      </div>

			<div class="top_mypage">
				<a href="javascript:;" class="eSearch"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" class="icon" role="img"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 19c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z"></path><path stroke="#000" stroke-linejoin="round" stroke-width="1.5" d="M22 22l-5-5"></path></svg></a>
				<a href="mypage"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" class="icon" role="img"><circle cx="11.5" cy="6.5" r="3.75" stroke="#000" stroke-width="1.5"></circle><path stroke="#000" stroke-width="1.5" d="M1.78 21.25c.382-4.758 4.364-8.5 9.22-8.5h1c4.856 0 8.838 3.742 9.22 8.5H1.78z"></path></svg></a>
				<a href="cart" class="xans-element- xans-layout xans-layout-orderbasketcount "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" class="icon" role="img"><path fill="#000" d="M23.073 22.253l-1.946-14.31c-.04-.38-.368-.667-.758-.667h-3.656v-1.74c0-2.543-2.115-4.613-4.713-4.613-2.599 0-4.713 2.07-4.713 4.613v1.74H3.63c-.39 0-.717.288-.758.667L.927 22.253c-.022.21.047.42.192.577.144.157.35.247.566.247h20.63c.216 0 .421-.09.566-.247.145-.157.214-.366.192-.576zM8.81 5.537c0-1.72 1.431-3.122 3.19-3.122 1.758 0 3.19 1.401 3.19 3.122v1.74H8.81v-1.74zm-6.28 16.05l1.786-12.82h2.97v1.644c0 .412.342.746.762.746.421 0 .762-.334.762-.746V8.767h6.38v1.643c0 .412.34.746.761.746.42 0 .762-.334.762-.746V8.767h2.97l1.786 12.819H2.53z"></path></svg><span class="count displaynone EC-Layout_Basket-count-display"><span class="EC-Layout-Basket-count">0</span></span>
</a>
			</div>
		</div>
	</div>
</header>
<aside id="aside" data-ez="contents-10vyvnw-1" class="xans-element- xans-layout xans-layout-slidepackage "><div class="navigation_member">
		<div class="xans-element- xans-layout xans-layout-logotop side_logo "><a href="index"><img src="//ecimg.cafe24img.com/pg1347b96994172014/tjdus0817/web/upload/category/logo/v2_8ad3aabeaee740cc84f6c46cecd72732_80MIAVnfK1_top.jpg" alt="Custy"></a>
</div>


		<div class="cboth slide_line"></div>

        <div class="xans-element- xans-layout xans-layout-boardinfo navigation-menu__board"><div class="title">고객센터<button type="button" class="icoCategory">펼침</button>
</div>


		    </nav><button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>
</aside>
<div id="container" data-ez="layout-0g1qxbv-1">
			<div id="contents">
				<span class="xans-element- xans-layout xans-layout-mobileaction RTMB ">
					<a href="#none" onclick="history.go(-1);return false;">

</span>
				


<div data-ez="contents-158t520-1" class="xans-element- xans-product xans-product-detail section">
<div class="detailArea ">
        <div class="xans-element- xans-product xans-product-image imgArea"><div class="RW ">
                <div class="prdImg">
                    <div class="thumbnail">
						
						
                        <a href="/skin-skin2/product/image_zoom2.html?product_no=9&cate_no=1&display_group=2" alt="P000000I" onclick="window.open(this.href, 'image_zoom2', 'toolbar=no,scrollbars=auto,resizable=yes,width=450,height=693,left=0,top=0', this);return false;">
                   <!--이미지-->  <img th:src="@{${product.imageFile}}" alt="상품 이미지" style="max-width: 600px;" />                        </a>
                        <span class="wish"><img src="//img.echosting.cafe24.com/design/skin/admin/ko_KR/btn_wish_before.png"  class="icon_img ec-product-listwishicon" alt="관심상품 등록 전" productno="9" categoryno="1" icon_status="off" login_status="T" individual-set="F" /></span>
                        <div id="zoom_wrap"></div>
                    </div>
                </div>

                <div class="xans-element- xans-product xans-product-addimage listImg"><div class="inner">
                        <ul class="list">

             </ul>
</div>
</div>
            </div>
<div class="RTMB ">
                <p class="prdImg">
                    <a href="#" id="prdDetailImg" data-param="?product_no=9&cate_no=1&display_group=2" class="thumbnail">
                        <img src="images/바지1.jpg" class="bigImage" alt="샘플상품 1" loading="lazy" ez-prevent="img"> 
						 <span class="wish"><img src="images/바지1.jpg"  class="icon_img ec-product-listwishicon" alt="관심상품 등록 전" productno="9" categoryno="1" icon_status="off" login_status="T" individual-set="F" /></span>
                    </a>
                </p>
                            </div>
</div>


<!-- div class="product-detail">
				    <img th:src="@{${product.imageFile}}" alt="상품 이미지" style="max-width: 300px;" />
			        
			        <p>설명: <span th:text="${product.description}">상품 설명</span></p>
			        <p>사이즈: <span th:text="${product.size}">상품 사이즈</span></p>
			        <p>카테고리: <span th:text="${product.category}">상품 카테고리</span></p>

			        
			    </div-->


        <div class="infoArea" data-ez-role="ez-discount-tag" >
            <div class="headingArea">
				<div class="icon">       </div>
                 <h1 th:text="${product.name}">상품 이름</h1>
                
            </div>
            <div class="topLogo displaynone">
                <span></span>
                <a href="#none" onclick=""><img src="" alt="공급사 바로가기" loading="lazy" ez-prevent="img"></a>
            </div>
            <div class="xans-element- xans-product xans-product-detaildesign">
<table border="1">
<caption> 기본 정보</caption>
                    <tbody>
<tr class=" xans-record-">
<th scope="row"><span style="font-size:16px;color:#555555;">상품명</span></th>
                            <td><span style="font-size:16px;color:#555555;"></span></td>
                        </tr>
<tr class=" xans-record-">
<th scope="row"><span style="font-size:12px;color:#555555;">소비자가</span></th>
                            <td><span style="font-size:12px;color:#555555;"><span id="span_product_price_custom"><strike>
								<p><span th:text="${product.price}">상품 가격</span></p>
							</strike></span></span></td>
                        </tr>
<tr class=" xans-record-">
<th scope="row"><span style="font-size:12px;color:#008BCC;font-weight:bold;">판매가</span></th>
                            <td><span style="font-size:12px;color:#008BCC;font-weight:bold;"><strong id="span_product_price_text">
								<p><span th:text="${product.price}">상품 가격</span></p>
							</strong><input id="product_price" name="product_price" value="" type="hidden"  /></span></td>
                        </tr>
<tr class=" xans-record-">
<th scope="row"><span style="font-size:12px;color:#555555;">국내·해외배송</span></th>
                            <td><span style="font-size:12px;color:#555555;">국내배송</span></td>
                        </tr>
<tr class=" xans-record-">
<th scope="row"><span style="font-size:12px;color:#555555;">배송방법</span></th>
                            <td><span style="font-size:12px;color:#555555;">택배</span></td>
                        </tr>
<tr class=" xans-record-">
<th scope="row"><span style="font-size:12px;color:#555555;">배송비</span></th>
                            <td><span style="font-size:12px;color:#555555;"><span class="delv_price_B"><input id="delivery_cost_prepaid" name="delivery_cost_prepaid" value="P" type="hidden"  /><strong>2,500원</strong> (50,000원 이상 구매 시 무료)</span></span></td>
                        </tr>
</tbody>
</table>
</div>

			
<tbody></tbody>
<tbody>

</table>


            

            
            <div id="totalProducts" class="">
                <table border="1">
<caption>상품 목록</caption>
                    <colgroup>
<col style="width:auto;">
<col style="width:100px;">
<col style="width:50px;">
</colgroup>
<thead><tr>


								<div id="totalPrice" class="totalPrice">
								        <strong class="title">TOTAL <span class="qty">(QUANTITY)</span></strong>
								        <span class="total">
								            <strong><em id="totalAmount"><p><span th:text="${product.price}"></span></p></em></strong>원<!-- 총 금액 표시 -->
								        </span>
								    </div>
																
							<!-- script>
								
								// 단가 설정 (상품 하나의 가격)
								       var unitPrice = 38000;
								
									   // 수량 증가 이벤트
									          document.querySelector('.QuantityUp').addEventListener('click', function() {
									              var quantityInput = document.getElementById('quantity');
									              var currentQuantity = parseInt(quantityInput.value);

									              if (!isNaN(currentQuantity)) {
									                  quantityInput.value = currentQuantity + 1;
									                  updateItemPrice(currentQuantity + 1); // 개별 금액 업데이트
									                  updateTotalPrice(currentQuantity + 1); // 총 금액 업데이트
									              }
									          });

									          // 수량 감소 이벤트
									          document.querySelector('.QuantityDown').addEventListener('click', function() {
									              var quantityInput = document.getElementById('quantity');
									              var currentQuantity = parseInt(quantityInput.value);

									              if (!isNaN(currentQuantity) && currentQuantity > 1) {
									                  quantityInput.value = currentQuantity - 1;
									                  updateItemPrice(currentQuantity - 1); // 개별 금액 업데이트
									                  updateTotalPrice(currentQuantity - 1); // 총 금액 업데이트
									              }
									          });

									          // 개별 금액 업데이트 함수
									          function updateItemPrice(quantity) {
									              var itemPrice = unitPrice * quantity;
									              document.getElementById('itemPrice').textContent = itemPrice.toLocaleString(); // 개별 금액 업데이트 (3자리 단위 쉼표 추가)
									          }

									          // 총 금액 업데이트 함수
									          function updateTotalPrice(quantity) {
									              var totalAmount = unitPrice * quantity;
									              document.getElementById('totalAmount').textContent = totalAmount.toLocaleString(); // 총 금액 업데이트 (3자리 단위 쉼표 추가)
									          }
											  
									      </script-->
							  							
                             <span class="mileage displaynone">
							<img src="" loading="lazy" ez-prevent="img">  <span class="mileage_price"></span></span>
						</td>
                        </tr><tr id="totalProductsOption" class="xans-element- xans-product xans-product-option option xans-record-"><!--
                            $use_per_add_option = yes
                            $default_option = yes
                            --><td class="middle" colspan="3">
                                <table border="1">
				<caption>옵션 정보</caption>
                                    <colgroup>
				<col style="width:30%;">
				<col style="width:auto;">
				</colgroup>
				<tbody></tbody>
				</table>
				</td>
				</tr>
				</tbody>

</table>
</div>

            <div id="" class="xans-element- xans-product xans-product-action productAction"><div id="ec-product-price-info" class="displaynone" ec-data-custom="5,000원" ec-data-price="5000"></div>
<div class=" action_button ">
					<span class="sub_sold displaynone">SOLD OUT</span>
                    <a href="buy" class="btnSubmit sizeL " onclick="product_submit(1, 'order', this)"><span id="actionBuy">BUY IT NOW</span><span class="displaynone" id="actionReserve"></span><span id="" class="displaynone"></span></a>
					<button type="button" class="btnNormal sizeL actionCart " onclick="product_submit(2, 'cart', this)" id="actionCart">CART</button>
					
					<form action="/cart/add" method="post">
							            <input type="hidden" name="productId" th:value="${product.id}"/>
							            <input type="number" name="quantity" value="1" min="1"/>
							            <button type="submit" class="add-to-cart">장바구니에 추가</button>
							        </form>
					
                </div>
</div>
        </div>
    </div>
<div class="eventArea displaynone ">
        <h3>EVENT</h3>
        <div class="event"></div>
    </div>
</div>

<div data-ez="contents-0u7zuhn-1" class="xans-element- xans-product xans-product-additional section"><div class="boardReport displaynone ec-base-layer typeModal ">
    
    
    <div class="header">
        <h3>게시글 신고하기</h3>
    </div>
    <div class="content">
        <h4>신고사유</h4>
        <div class="box">
            <div class="selectBox">
                <ul>
<li><label class="label"><input type="radio" name="report_reason" value="1" class="radio" checked>관련없는 내용</label></li>
                    <li><label class="label"><input type="radio" name="report_reason" value="2" class="radio">욕설/비방</label></li>
                    <li><label class="label"><input type="radio" name="report_reason" value="3" class="radio">개인정보유출</label></li>
                    <li><label class="label"><input type="radio" name="report_reason" value="4" class="radio">광고/홍보글</label></li>
                    <li><label class="label"><input type="radio" name="report_reason" value="5" class="radio">기타</label></li>
                </ul>
</div>
        </div>
        <p class="summary">신고해주신 내용은 쇼핑몰 운영자의 검토 후 내부 운영 정책에 의해 처리가 진행됩니다.</p>
    </div>

    <div class="ec-base-button report-button">
        <a href="#none" class="btnSubmit ecReportAction" onclick="">신고</a>
        <a href="#none" class="btnNormal ecReportCloseLayer" onclick="">취소</a>
    </div>
    <a href="#none" class="btnClose ecReportCloseLayer" onclick="">닫기</a>
</div>
<div id="detail" class="cboth"></div>
<div class="detail_tab ">
		<ul class="cboth title_detail">
<li class="tab_open"><a href="#detail">상세정보</a></li>
			<li><a href="#review">상품후기 <span>0</span></a></li>
			<li><a href="#qna">상품문의 <span>0</span></a></li>
			<li><a href="#guide">배송/교환/환불 안내</a></li>
		</ul>
<!-- //title_detail -->
</div>
<!-- //detail_tab -->
<div id="tabProduct" class="tabProduct display_tablet_only ">
        <ul>
<li class="selected"><a href="#prdDetail" target="_self">상세정보</a></li>
            <li><a href="#prdInfo">구매안내</a></li>
            <li class=""><a href="#prdReview" name="use_review_mobile">상품후기 <span>0</span></a></li>
            <li class=""><a href="#prdQnA" name="use_qna_mobile">상품문의 <span>0</span></a></li>
        </ul>
</div>
<div id="prdDetail" class="productDetail">
        <div><p><span style="font: 12px/normal Gulim; color: rgb(0, 0, 0); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; float: none; display: inline !important; white-space: normal; -webkit-text-stroke-width: 0px;">샘플상품 입니다.</span></p></div>

		<!-- //product_relation -->
	</div>
<!-- //prdDetail -->
<div id="prdReview" class="">
		<div id="review" class="pdt150 cboth"></div>
		<div class="detail_tab">
			<ul class="cboth title_detail">
<li><a href="#detail">상세정보</a></li>
				<li class="tab_open"><a href="#review">상품후기 <span>0</span></a></li>
				<li><a href="#qna">상품문의 <span>0</span></a></li>
				<li><a href="#guide">배송/교환/환불 안내</a></li>
			</ul>

</div>

		<div class="">
			<div class="board_title">
				<h2>REVIEW</h2>
				<div class="ec-base-button">
					<a href="/skin-skin2/board/product/list.html?board_no=4&link_product_no=9" class="btnNormalFix">LIST</a>
					<a href="/skin-skin2/board/product/write.html?board_no=4&product_no=9&cate_no=1&display_group=2" class="btnNormalFix">WRITE</a>
				</div>
			</div>
			<div class="contents">
				<p class="nodata">게시물이 없습니다</p>							</div>
		</div>
<!-- //상품리뷰 -->
	</div>
<!-- //prdReview -->
<div id="prdQnA" class="">
		<div id="qna" class="pdt150 cboth"></div>
		<div class="detail_tab">
			<ul class="cboth title_detail">
<li><a href="#detail">상세정보</a></li>
				<li><a href="#review">상품후기 <span>0</span></a></li>
				<li class="tab_open"><a href="#qna">상품문의 <span>0</span></a></li>
				<li><a href="#guide">배송/교환/환불 안내</a></li>
			</ul>
<!-- //title_detail -->
</div>
<!-- //detail_tab -->

		<div class="">
			<div class="board_title">
				<h2>Q&amp;A</h2>
				<div class="ec-base-button">
					<a href="/skin-skin2/board/product/list.html?board_no=6&link_product_no=9" class="btnNormalFix">LIST</a>
					<a href="/skin-skin2/board/product/write.html?board_no=6&product_no=9&cate_no=1&display_group=2" class="btnNormalFix">WRITE</a>
				</div>
			</div>
			<div class="contents">
				<p class="nodata">게시물이 없습니다</p>							</div>
		</div>
<!-- //상품문의 -->
	</div>
<!-- //prdQnA -->
<div id="prdInfo" class="">
		<div id="guide" class="pdt150 cboth"></div>
		<div class="detail_tab">
			<ul class="cboth title_detail">
<li><a href="#detail">상세정보</a></li>
				<li><a href="#review">상품후기 <span>0</span></a></li>
				<li><a href="#qna">상품문의 <span>0</span></a></li>
				<li class="tab_open"><a href="#guide">배송/교환/환불 안내</a></li>
			</ul>
<!-- //title_detail -->
</div>
<!-- //detail_tab -->

		<div class="detail_guide">
			<div class="ec-base-fold theme1 selected eToggle">
				<div class="title">
					<h2>PAYMENT INFO</h2>
				</div>
				<div class="contents">
					<div class="info">
						고액결제의 경우 안전을 위해 카드사에서 확인전화를 드릴 수도 있습니다. 확인과정에서 도난 카드의 사용이나 타인 명의의 주문등
      정상적인 주문이 아니라고 판단될 경우 임의로 주문을 보류 또는 취소할 수 있습니다. &nbsp; <br>
      <br>
      무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다. &nbsp;<br>
      주문시 입력한&nbsp;입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 7일 이내로 입금을 하셔야 하며&nbsp;입금되지
      않은 주문은 자동취소 됩니다. <br>
					</div>
				</div>
			</div>

			<div class="ec-base-fold theme1 selected eToggle">
				<div class="title">
					<h2>DELIVERY INFO</h2>
				</div>
				<div class="contents">
					<ul class="info delivery">
<li>배송 방법 : 택배</li>
						<li>배송 지역 : 전국지역</li>
						<li>배송 비용 : 2,500원</li>
						<li>배송 기간 : 3일 ~ 7일</li>
						<li>배송 안내 : - 산간벽지나 도서지방은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다.<br>
    고객님께서 주문하신 상품은 입금 확인후 배송해 드립니다. 다만, 상품종류에 따라서 상품의 배송이 다소 지연될 수 있습니다.<br>
</li>
					</ul>
</div>
			</div>

			<div class="ec-base-fold theme1 selected eToggle">
				<div class="title">
					<h2>EXCHANGE INFO</h2>
				</div>
				<div class="contents">
					<div class="info">
						<strong>교환 및 반품 주소</strong>
<br>&nbsp;- 
<br>&nbsp;
<br><strong>교환 및 반품이 가능한 경우</strong>
<br>&nbsp;-&nbsp;계약내용에 관한 서면을 받은 날부터&nbsp;7일.&nbsp;단,&nbsp;그 서면을 받은 때보다 재화등의 공급이 늦게 이루어진 경우에는 재화등을 공급받거나 재화등의 공급이 시작된 날부터&nbsp;7일 이내
<br>&nbsp; -&nbsp;공급받으신 상품 및 용역의 내용이 표시.광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화 등을 공급받은 날 부터&nbsp;3월이내,&nbsp;그사실을 알게 된 날 또는 알 수 있었던 날부터&nbsp;30일이내
<br>&nbsp;
<br><strong>교환 및 반품이 불가능한 경우</strong>
<br>&nbsp;-&nbsp;이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만,&nbsp;재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)
<br>&nbsp; -&nbsp;이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우
<br>&nbsp; -&nbsp;시간의 경과에 의하여 재판매가 곤란할 정도로 재화등의 가치가 현저히 감소한 경우
<br>&nbsp; -&nbsp;복제가 가능한 재화등의 포장을 훼손한 경우
<br>&nbsp; -&nbsp;개별 주문 생산되는 재화 등 청약철회시 판매자에게 회복할 수 없는 피해가 예상되어 소비자의 사전 동의를 얻은 경우
<br>&nbsp; -&nbsp;디지털 콘텐츠의 제공이 개시된 경우, (다만,&nbsp;가분적 용역 또는 가분적 디지털콘텐츠로 구성된 계약의 경우 제공이 개시되지 아니한 부분은 청약철회를 할 수 있습니다.)
<br>&nbsp;
<br>※ 고객님의 마음이 바뀌어 교환,&nbsp;반품을 하실 경우 상품반송 비용은 고객님께서 부담하셔야 합니다.
<br>&nbsp;(색상 교환,&nbsp;사이즈 교환 등 포함)
<br>
					</div>
				</div>
			</div>

			<div class="ec-base-fold theme1 selected eToggle">
				<div class="title">
					<h2>SERVICE INFO</h2>
				</div>
				<div class="contents">
					<div class="info">
											</div>
				</div>
			</div>
		</div>
<!-- //detail_guide -->
	</div>
<!-- //prdInfo -->
</div>

<!--#ez="1/1"-->
			</div>
		</div>
<div class="bottom-nav RMB RTB" ez-module="bottom-navigation" data-ez="contents-1789ael-1">
    <ul class="bottom-nav__tabBar"><li><button type="button" class="btnNav eNavFold"><i aria-hidden="true" class="icon icoNav"></i>네비게이션</button></li>
        <li><button type="button" class="btnSearch eSearch"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" class="icon" role="img"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 19c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z"></path><path stroke="#000" stroke-linejoin="round" stroke-width="1.5" d="M22 22l-5-5"></path></svg>검색</button></li>
        <li><a href="/skin-skin2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" class="icon" role="img"><path stroke="#000" stroke-width="1.5" d="M12 3L2 11.36V22h7.692v-7.6h4.616V22H22V11.36L12 3z"></path></svg>홈</a></li>
        <li class="xans-element- xans-layout xans-layout-statelogon "><a href="/skin-skin2/order/basket.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" class="icon" role="img"><path fill="#000" d="M23.073 22.253l-1.946-14.31c-.04-.38-.368-.667-.758-.667h-3.656v-1.74c0-2.543-2.115-4.613-4.713-4.613-2.599 0-4.713 2.07-4.713 4.613v1.74H3.63c-.39 0-.717.288-.758.667L.927 22.253c-.022.21.047.42.192.577.144.157.35.247.566.247h20.63c.216 0 .421-.09.566-.247.145-.157.214-.366.192-.576zM8.81 5.537c0-1.72 1.431-3.122 3.19-3.122 1.758 0 3.19 1.401 3.19 3.122v1.74H8.81v-1.74zm-6.28 16.05l1.786-12.82h2.97v1.644c0 .412.342.746.762.746.421 0 .762-.334.762-.746V8.767h6.38v1.643c0 .412.34.746.761.746.42 0 .762-.334.762-.746V8.767h2.97l1.786 12.819H2.53z"></path></svg>Cart <span class="count displaynone EC-Layout_Basket-count-display"><span class="EC-Layout-Basket-count"></span></span></a>
</li>
                <li><a href="/skin-skin2/myshop/index.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" class="icon" role="img"><circle cx="11.5" cy="6.5" r="3.75" stroke="#000" stroke-width="1.5"></circle><path stroke="#000" stroke-width="1.5" d="M1.78 21.25c.382-4.758 4.364-8.5 9.22-8.5h1c4.856 0 8.838 3.742 9.22 8.5H1.78z"></path></svg>
마이쇼핑</a></li>
    </ul><div class="bottom-nav__top">
        <a href="#wrap" title="화면 최상단으로 이동하기"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="20" fill="#1a1a1a" viewbox="0 0 14 20" class="icon" role="img"><path d="M3,8.4C2.3,9,1.2,9,0.5,8.3c-0.6-0.7-0.6-1.7,0-2.4l5.3-5.2C6.5,0,7.6,0,8.3,0.7l5.2,5.1c0.7,0.7,0.7,1.8,0,2.5
	c-0.7,0.7-1.8,0.7-2.4,0L8.8,6.1l0,12.1c0,2.3-3.6,2.3-3.6,0l0-12L3,8.4z"></path></svg></a>
    </div>
</div>
<div class="footer_margin" data-ez="module-1oktphz-1" data-ez-module="user-defined/1" data-ez-name="USER DEFINED" data-ez-type="plain"></div>
<footer id="footer" class="layout1" data-ez-layout="layout1" data-ez="contents-06bwsrq-1"><ez-prop data-version="1.0.0" type="layout"><ez-var data-prop="layout" data-namespace="ez.layout.footer.layout" data-type="array"><ez-item data-id="layout1" data-name="기본형"></ez-item><ez-item data-id="layout2" data-name="좌우반전형"></ez-item><ez-item data-id="layout3" data-name="중앙형"></ez-item></ez-var></ez-prop><div class="xans-element- xans-layout xans-layout-footer inner "><div class="xans-element- xans-layout xans-layout-logobottom bt_logo ">
	<a href="index"><img src="images/logo1.jpg" alt="Custy"></a>
</div>
<!-- //bt_logo -->
<div class="bt_util" data-ez-group="shortcut">
			<div data-ez-role="title" style="display:none;">바로가기</div>
			<ul data-ez-role="list">
<li data-ez-item="company"><a href="#">회사소개</a></li>
				<li data-ez-item="agreement"><a href="#">이용약관</a></li>
				<li data-ez-item="privacy"><a href="#"><strong>개인정보처리방침</strong></a></li>
				<li data-ez-item="guide"><a href="#">이용안내</a></li>
			</ul>
</div>
<!-- //bt_util -->
<div class="bt_wrap">
			<div class="bt_info" data-ez-group="info">
				<div class="title" data-ez-role="title">쇼핑몰 기본정보</div>
                <div class="bt_info_list" data-ez-role="list">
                  <div data-ez-item="company_name">
<span data-ez-role="field">상호명</span> <span data-ez-role="value">Custy</span>
</div>
				  <div data-ez-item="president_name">
<span data-ez-role="field">대표자명</span> <span data-ez-role="value">ㅇㅇㅇ</span>
</div>
				  <div data-ez-item="address">
<span data-ez-role="field">사업장 주소</span> <span data-ez-role="value">  </span>
</div>
				  <div data-ez-item="phone">
<span data-ez-role="field">대표 전화</span> <span data-ez-role="value">010-0000-0000</span>
</div>
				  <div data-ez-item="company_regno">
<span data-ez-role="field">사업자 등록번호</span> <span data-ez-role="value"></span>
</div>
				  <div data-ez-item="network_regno">
<span data-ez-role="field">통신판매업 신고번호</span> <span data-ez-role="value"> </span>
</div>
				  <div data-ez-item="cpo_name">
<span data-ez-role="field">개인정보보호책임자</span> <span data-ez-role="value">ㅇㅇㅇ</span>
</div>
			  </div>

			</div>


			<div data-ez-group="cs" class="xans-element- xans-layout xans-layout-info bt_cscenter "><div class="title" data-ez-role="title">고객센터 정보</div>
<div data-ez-role="list">
					<div data-ez-item="phone" class="bt_txt01">
<strong>상담/주문 전화</strong><span class="pdr10"></span><span data-ez-role="value">010-0000-0000</span>
</div>
					<div data-ez-item="email" class="bt_txt02">
<strong>상담/주문 이메일</strong><span data-ez-role="value">ㅇㅇㅇ@naver.com</span>
</div>
					<div data-ez-item="runtime" class="bt_txt02">
<strong>CS운영시간</strong><span data-ez-role="value"></span>
</div>
				</div>
</div>
<!-- //bt_cscenter -->

			<div class="bt_bank" data-ez-group="bank">
				<div data-ez-role="title" class="title">결제정보</div>
				<div class="title_sub"><strong>무통장 계좌정보</strong></div>
				<div class="bt_txt02">
					<ul data-ez-role="list">
<li data-ez-role="item">
							<span data-ez-role="bank_name">은행</span> <span class="pdr10"></span>
							<span data-ez-role="account_number">0000-000-00000</span><span class="pdr10"></span>
							<span data-ez-role="account_name">예금주</span>
						</li>
					</ul>
</div>


</body>
</html>
